<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecretPassword" value="Password123!" />
    <add key="SecretToken" value="111-22-3-44-555-66-7-88-999" />
  </appSettings>
  <configProtectedData>
   <providers>
    <add name="RSAEncryptionProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="MyContainer" useMachineContainer="true" />
   </providers>
  </configProtectedData>
</configuration>